{% extends "base.html" %}
{% block title %}Home | Django's Blog{% endblock %}

{% block content %}
<div class="container">

  {% if not search_value %}
  <h1 class="title-home">Welcome to Django's Blog.</h1>
  {% else %}
  <h1 class="title-home">Results for "<b>{{ search_value }}</b>"</h1>
  {% endif %}

  <div class="card-index">
    <ul>
      {% for post in posts %}
      <li>
        <div class="card">
          <img src="{{post.background_url}}" class="card-img-top" alt="DjangoPosts">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.subtitle|truncatechars:40 }}</p>
            <a href="{% url 'detail_post' post.id %}" class="align-self-end btn btn-primary">See more</a>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

</div>
{% endblock %}